/* user-profile.component.css */
.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-avatar img {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%;
}

.user-details {
  margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
