<div>
  <h2 id="page-heading" data-cy="AdminsHeading">
    <span>Admins</span>
    <div class="d-flex justify-content-start align-items-center">
      <!-- Search icon button -->

      <!-- Search input field (visible only when isSearchBarVisible is true) -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by name..." [(ngModel)]="searchQuery" (keyup.enter)="filterAdmins()" />
        <button class="btn btn-outline-secondary me-2" type="button" (click)="filterAdmins()">
          <fa-icon icon="search"></fa-icon>
        </button>
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>

        <!-- Create new Products button with icon only -->
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-products"
          [routerLink]="['/admins/new']"
        >
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="admins?.length === 0">
    <span>No Admins found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="admins && admins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of admins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/admins', admin.id, 'view']">{{ admin.id }}</a>
          </td>
          <td>{{ admin.name }}</td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.phone }}</td>
          <td>{{ admin.role }}</td>
          <td>{{ admin.status }}</td>
          <td>{{ admin.createdat | formatMediumDatetime }}</td>
          <td>{{ admin.updatedat | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/admins', admin.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </a>
              <a [routerLink]="['/admins', admin.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </a>
              <button type="submit" (click)="delete(admin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
