<div>
  <section id="typography">
    <h1>Customize T-Shirt</h1>

    <div class="row">
      <div class="span3">
        <div class="well">
          <select #customImageSelector (change)="loadCustomImage($event)">
            <option *ngFor="let option of tshirtTypes" [value]="option.value">{{ option.label }}</option>
          </select>
          <div
            (click)="selectColor(color)"
            *ngFor="let color of colorOptions"
            [style.background-color]="color"
            [title]="color"
            class="color-preview"
          ></div>
        </div>
        <div class="well">
          <label for="fontFamilyDropdown">Select a Font Family:</label>
          <select (change)="onFontChange($event)" [(ngModel)]="selectedFontFamily" id="fontFamilyDropdown">
            <option *ngFor="let fontFamily of fontFamilies" [value]="fontFamily.name">{{ fontFamily.name }}</option>
          </select>

          <div *ngFor="let fontFamily of fontFamilies">
            <div *ngIf="selectedFontFamily === fontFamily.name">
              <label for="fontDropdown">Select a Font:</label>
              <select id="fontDropdown">
                <option *ngFor="let font of fontFamily.fonts" [value]="font">{{ font }}</option>
              </select>
            </div>
          </div>

          <p style="font-family: {{ selectedFontFamily }};">This text is in {{ selectedFontFamily }} font.</p>

          <input [(ngModel)]="textToAdd" class="span2" id="text-string" placeholder="Add text here..." style="height: 30px" type="text" />
          <button (click)="addTextToCanvas()" class="btn" id="add-text" title="Add text">Add text</button>
          <button (click)="deleteSelectedObject()" class="btn" id="delete-object" title="Delete selected object">
            Delete selected object
          </button>
          <hr />
          <form action="" enctype="multipart/form-data" method="post">
            <input id="fileToUpload" name="fileToUpload" type="file" />
            <input class="btn btn-primary" name="submit" type="submit" value="Upload Custom Image" />
          </form>
        </div>
      </div>

      <div class="span6">
        <div style="min-height: 32px">
          <div class="clearfix">
            <div class="btn-group inline pull-left" id="texteditor">
              <button (click)="toggleBold()" class="btn" data-original-title="Bold" id="text-bold">Bold</button>
              <button (click)="toggleItalic()" class="btn" data-original-title="Italic" id="text-italic">Italic</button>
              <button (click)="toggleStrike()" class="btn" id="text-strike" title="Strike">Strikethrough</button>
              <button (click)="toggleUnderline()" class="btn" id="text-underline" title="Underline">Underline</button>
              <button (click)="saveDivAsImage()" class="btn" id="save">Save Image</button>
            </div>
          </div>
        </div>
        <div
          #canvasContainer
          class="page"
          id="shirtDiv"
          style="min-width: 1000px; max-height: 630px; position: relative; background-color: rgb(255, 255, 255); z-index: 1"
        >
          <div #shirtDiv id="tshirtImages" style="width: 100%; height: 100%; position: relative">
            <div>
              <img
                [src]="selectedCustomImage"
                id="tshirtFacingFront"
                style="width: 100%; height: 100%; object-fit: cover; position: relative; z-index: 1"
              />
            </div>
            <canvas
              id="canva"
              #tcanvas
              style="border: 2px solid black; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
