<footer class="custom-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>Email: info@customclothing.com</p>
        <p>Phone: +1 123-456-7890</p>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Address</h4>
        <p>123 Custom Street</p>
        <p>Cityville, State 12345</p>
      </div>
    </div>
  </div>
</footer>
