<div>
  <h2 id="page-heading" data-cy="ProductsHeading">
    <span>Products</span>

    <div class="d-flex justify-content-start align-items-center">
      <!-- Search icon button -->

      <!-- Search input field (visible only when isSearchBarVisible is true) -->
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name..."
          [(ngModel)]="searchQuery"
          (keyup.enter)="applySearchFilter()"
        />
        <button class="btn btn-outline-secondary me-2" type="button" (click)="applySearchFilter()">
          <fa-icon icon="search"></fa-icon>
        </button>
        <!-- Refresh list button with icon only -->
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>

        <!-- Create new Products button with icon only -->
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-products"
          [routerLink]="['/products/new']"
        >
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span>No Products found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="products && products.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span>Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stock">
            <div class="d-flex">
              <span>Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span>Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/products', product.id, 'view']">{{ product.name }}</a>
          </td>
          <td>{{ product.type }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.status }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/products', product.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </a>
              <a [routerLink]="['/products', product.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </a>
              <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
