<div>
  <h2 id="page-heading" data-cy="UsersHeading">
    <span>Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-users"
        [routerLink]="['/users/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Users</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="users?.length === 0">
    <span>No Users found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="users && users.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Translation missing for global.field.id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="photo">
            <div class="d-flex">
              <span>Photo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zip">
            <div class="d-flex">
              <span>Zip</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="city">
            <div class="d-flex">
              <span>City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="country">
            <div class="d-flex">
              <span>Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span>Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span>Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fax">
            <div class="d-flex">
              <span>Fax</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="password">
            <div class="d-flex">
              <span>Password</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rememberToken">
            <div class="d-flex">
              <span>Remember Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span>Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span>Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isProvider">
            <div class="d-flex">
              <span>Is Provider</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="verificationLink">
            <div class="d-flex">
              <span>Verification Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emailVerified">
            <div class="d-flex">
              <span>Email Verified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="affilateCode">
            <div class="d-flex">
              <span>Affilate Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="affilateIncome">
            <div class="d-flex">
              <span>Affilate Income</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopName">
            <div class="d-flex">
              <span>Shop Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ownerName">
            <div class="d-flex">
              <span>Owner Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopNumber">
            <div class="d-flex">
              <span>Shop Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopAddress">
            <div class="d-flex">
              <span>Shop Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regNumber">
            <div class="d-flex">
              <span>Reg Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopMessage">
            <div class="d-flex">
              <span>Shop Message</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopDetails">
            <div class="d-flex">
              <span>Shop Details</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopImage">
            <div class="d-flex">
              <span>Shop Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fUrl">
            <div class="d-flex">
              <span>F Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gUrl">
            <div class="d-flex">
              <span>G Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tUrl">
            <div class="d-flex">
              <span>T Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lUrl">
            <div class="d-flex">
              <span>L Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isVendor">
            <div class="d-flex">
              <span>Is Vendor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fCheck">
            <div class="d-flex">
              <span>F Check</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gCheck">
            <div class="d-flex">
              <span>G Check</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tCheck">
            <div class="d-flex">
              <span>T Check</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lCheck">
            <div class="d-flex">
              <span>L Check</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mailSent">
            <div class="d-flex">
              <span>Mail Sent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shippingCost">
            <div class="d-flex">
              <span>Shipping Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currentBalance">
            <div class="d-flex">
              <span>Current Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ban">
            <div class="d-flex">
              <span>Ban</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isPrinter">
            <div class="d-flex">
              <span>Is Printer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of users; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/users', users.id, 'view']">{{ users.id }}</a>
          </td>
          <td>{{ users.name }}</td>
          <td>{{ users.photo }}</td>
          <td>{{ users.zip }}</td>
          <td>{{ users.city }}</td>
          <td>{{ users.country }}</td>
          <td>{{ users.address }}</td>
          <td>{{ users.phone }}</td>
          <td>{{ users.fax }}</td>
          <td>{{ users.email }}</td>
          <td>{{ users.password }}</td>
          <td>{{ users.rememberToken }}</td>
          <td>{{ users.createdAt | formatMediumDate }}</td>
          <td>{{ users.updatedAt | formatMediumDate }}</td>
          <td>{{ users.isProvider }}</td>
          <td>{{ users.status }}</td>
          <td>{{ users.verificationLink }}</td>
          <td>{{ users.emailVerified }}</td>
          <td>{{ users.affilateCode }}</td>
          <td>{{ users.affilateIncome }}</td>
          <td>{{ users.shopName }}</td>
          <td>{{ users.ownerName }}</td>
          <td>{{ users.shopNumber }}</td>
          <td>{{ users.shopAddress }}</td>
          <td>{{ users.regNumber }}</td>
          <td>{{ users.shopMessage }}</td>
          <td>{{ users.shopDetails }}</td>
          <td>{{ users.shopImage }}</td>
          <td>{{ users.fUrl }}</td>
          <td>{{ users.gUrl }}</td>
          <td>{{ users.tUrl }}</td>
          <td>{{ users.lUrl }}</td>
          <td>{{ users.isVendor }}</td>
          <td>{{ users.fCheck }}</td>
          <td>{{ users.gCheck }}</td>
          <td>{{ users.tCheck }}</td>
          <td>{{ users.lCheck }}</td>
          <td>{{ users.mailSent }}</td>
          <td>{{ users.shippingCost }}</td>
          <td>{{ users.currentBalance }}</td>
          <td>{{ users.date | formatMediumDate }}</td>
          <td>{{ users.ban }}</td>
          <td>{{ users.isPrinter }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/users', users.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Translation missing for entity.action.view</span>
              </a>

              <a [routerLink]="['/users', users.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Translation missing for entity.action.edit</span>
              </a>

              <button type="submit" (click)="delete(users)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Translation missing for entity.action.delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
