<div>
  <h2 id="page-heading" data-cy="UsersHeading">
    <span>Users</span>

    <div class="d-flex justify-content-start align-items-center">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name..."
          [(ngModel)]="searchQuery"
          (keyup.enter)="applySearchFilter()"
        />
        <button class="btn btn-outline-secondary me-2" type="button" (click)="applySearchFilter()">
          <fa-icon icon="search"></fa-icon>
        </button>
        <!-- Refresh list button with icon only -->
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>

        <!-- Create new Products button with icon only -->
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-products"
          [routerLink]="['/products/new']"
        >
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="users?.length === 0">
    <span>No Users found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="users && users.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopName">
            <div class="d-flex">
              <span>Store Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vendorEmail">
            <div class="d-flex">
              <span>Vendor Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shopNumber">
            <div class="d-flex">
              <span>Shop Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; trackBy: trackId" data-cy="entityTable">
          <!-- Display the desired attributes -->
          <td>
            <a [routerLink]="['/users', user.id, 'view']">{{ user.id }}</a>
          </td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.shopName }}</td>
          <td>{{ user.isVendor }}</td>
          <td>{{ user.shopNumber }}</td>
          <td>{{ user.status }}</td>
          <!-- Add or remove attributes as needed -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
