<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="admins">
      <h2 data-cy="adminsDetailsHeading"><span>Admins</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>id</span></dt>
        <dd>
          <span>{{ admins.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ admins.name }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ admins.email }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ admins.phone }}</span>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
          <span>{{ admins.role }}</span>
        </dd>
        <dt><span>Photo</span></dt>
        <dd>
          <span>{{ admins.photo }}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
          <span>{{ admins.password }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ admins.status }}</span>
        </dd>
        <dt><span>Remember Token</span></dt>
        <dd>
          <span>{{ admins.rememberToken }}</span>
        </dd>
        <dt><span>Createdat</span></dt>
        <dd>
          <span>{{ admins.createdat | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updatedat</span></dt>
        <dd>
          <span>{{ admins.updatedat | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Shop Name</span></dt>
        <dd>
          <span>{{ admins.shopName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>back</span>
      </button>

      <button type="button" [routerLink]="['/admins', admins.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>edit</span>
      </button>
    </div>
  </div>
</div>
