<div>
  <h2 id="page-heading" data-cy="OrdersHeading">
    <span>Orders</span>

    <div class="d-flex justify-content-start align-items-center">
      <!-- Search icon button -->

      <!-- Search input field (visible only when isSearchBarVisible is true) -->
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name..."
          [(ngModel)]="searchQuery"
          (keyup.enter)="applySearchFilter()"
        />
        <button class="btn btn-outline-secondary me-2" type="button" (click)="applySearchFilter()">
          <fa-icon icon="search"></fa-icon>
        </button>
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>

        <!-- Create new Products button with icon only -->
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-products"
          [routerLink]="['/orders/new']"
        >
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
    <span>No Orders found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="orders && orders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!-- Add or remove columns based on your requirements -->
          <th scope="col" jhiSortBy="orderNumber">
            <div class="d-flex">
              <span>Order Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="customerEmail">
            <div class="d-flex">
              <span>Customer Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalQty">
            <div class="d-flex">
              <span>Total Qty</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="payAmount">
            <div class="d-flex">
              <span>Total Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orders of orders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/orders', orders.id, 'view']">{{ orders.orderNumber }}</a>
          </td>
          <td>{{ orders.customerEmail }}</td>
          <td>{{ orders.totalQty }}</td>
          <td>{{ orders.payAmount }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/orders', orders.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </a>
              <!-- Add or remove buttons based on your requirements -->
              <a [routerLink]="['/orders', orders.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </a>
              <button type="submit" (click)="delete(orders)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
