<div>
  <h2 id="page-heading" data-cy="RolesHeading">
    <span>Roles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-roles"
        [routerLink]="['/roles/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Roles</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="roles?.length === 0">
    <span>No Roles found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="roles && roles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="section">
            <div class="d-flex">
              <span>Section</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let roles of roles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/roles', roles.id, 'view']">{{ roles.id }}</a>
          </td>
          <td>{{ roles.name }}</td>
          <td>{{ roles.section }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/roles', roles.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </a>

              <a [routerLink]="['/roles', roles.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </a>

              <button type="submit" (click)="delete(roles)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
