/* src/app/app.component.css */
.jhi-nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1000;
}

.jhi-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 900;
}

.content {
  margin-left: 30%; /* Adjust based on the width of the side menu */
  padding: 20px;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: 200px !important;
  margin-right: auto;
  margin-left: auto;
}

.design-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 20px; /* Example gap between cards */
}

.card-dashboard {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Initial box shadow */
  background-color: #fff;
  transition:
    box-shadow 0.3s,
    background-color 0.3s; /* Add smooth transition */
}

.card-dashboard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
  background-color: #f0f0f0; /* Background color on hover */
}

.card-dashboard h3 {
  color: #333;
}

.card-dashboard p {
  font-size: 18px;
}

.card-dashboard a {
  text-decoration: none;
  color: #007bff;
  display: block;
  margin-top: 10px;
}

.card-dashboard a:hover {
  text-decoration: underline;
}
.printer-dashboard {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 20px;
}

/* styles.css or user-profile.component.css */

.card-container {
  background-color: #fff;
  box-shadow: 20px 20px 20px 0px rgb(195 195 195 / 86%);
  border-radius: 8px;
  padding: 20px;
  margin-top: 15px;

  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Include padding and border in the total width/height */
  border: 1px solid #d2d2d2;
}

/* Additional styling for the inner content, adjust as needed */
.card-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-container .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.card-container .grid-container div {
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card-container {
    margin: 10px;
  }
}
